@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap');


body {
  font-family: "Roboto Mono", sans-serif; 
  color: #CECECE;
  background-color: #1E1E1E;
}

::selection {
  background-color: #929292;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  margin: 18px 0;
  color: #CECECE;
}

.img-holder {
  position: relative;
  margin: 20px 0 30px;
}

.img-circle {
  border-radius: 50%;
}

p {
  margin: 0 0 10px;

}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.col-sm-4 {
    left: 66.6%;
 }

 .col-sm-8 {
  right: 33.3%;
}

.section-holder {
  border: 1px solid #aaa;
  padding: 30px 30px 50px;
  height: 600px;
  margin-top: 50px;
}


.sep-mini {
  margin-top: 20px;
  width: 20px;
  position: relative;
  height: 1px;
  background: #929292;
}

.line-art-left{
  position: absolute;
  top:50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 5px;
}

.line-art-right{
  position: absolute;
  top:50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: 5px;
}

.line-art-left div {
  background: #cacaca;
  width: 10px;
  height: 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.line-art-right div {
  background: #cacaca;
  width: 10px;
  height: 1px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.line-art-left div:nth-child(1), .line-art-left div:nth-child(2), .line-art-left div:nth-child(3), .line-art-left div:nth-child(4),
.line-art-right div:nth-child(1), .line-art-right div:nth-child(2), .line-art-right div:nth-child(3), .line-art-right div:nth-child(4){
  margin: 5px;
}

.texture, 
#msgSubmit, 
#fun-fact .counter li, 
.process li:first-child, 
.process li:last-child,
.box-it:before {
  background: url("assets/texture.png");
}

@media (max-width: 720px) { 

  body {
    font-size: 12px;
    text-align: justify;
  }

  .section-holder {
    margin: 15px auto;
  }

  .col-sm-4 {
    left: auto;
  }  

 .col-sm-8 {
    right: auto;
  }

  .sep-mini {
    margin-top: 10px;
  }

  a {
      font-size: 13px;
  }
  
  .header {
      margin-bottom: 30px;
  }

  h1 { /* 36px */
      font-size: 30px;
  }

  h2 { /* 30px */
      font-size: 24px;
  }

  h3 { /* 24px */
      font-size: 18px;
  }

  h4 { /* 18px */
      font-size: 14px;
  }

  h5 { /* 14px */
      font-size: 12px;
  }

  h6 { /* 12px */
      font-size: 10px;
  }

  .sector .main-title {
      font-size: 50px;
  }
  

@media (max-width: 479px) { 

}